name: my_streamlit_app
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.9
  - pip  
  - numpy==1.26.4
  - pandas

pip:
  - streamlit>=1.28
  - scikit-learn
  - plotly
  - pyspark
  

variables:
  JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64  
  SPARK_HOME: /opt/spark 
  PYSPARK_PYTHON: python3
  PYSPARK_DRIVER_PYTHON: python3
  PATH: $JAVA_HOME/bin:$SPARK_HOME/bin:$PATH
  LD_LIBRARY_PATH: $JAVA_HOME/lib/server:$LD_LIBRARY_PATH
